<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean class="org.joy.core.init.support.properties.JoyPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:/conf/db.properties</value>
                <value>classpath*:/conf/app.properties</value>
			</list>
		</property>
	</bean>

	<context:component-scan base-package="org.joy">
		<context:exclude-filter type="aspectj" expression="org.joy.**.web" />
	</context:component-scan>

	<!-- 业务库数据源定义 -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${db.jndi}"/>
	</bean>


	<!-- 定义一个切入点，使事务在它的切入点内有效
	<aop:config>
		<aop:pointcut id="crudMethos" expression="execution(* org.joy.*..service.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="crudMethos" />
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	-->

	<!-- <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"> <property name="interceptors"> <list> 
		<ref bean="openEntityManagerInViewInterceptor" /> </list> </property> <property name="mappings"> <props> <prop key="hello.html"> helloController </prop> 
		<prop key="user.html"> loginAction </prop> <prop key="userManager.html"> userController </prop> <prop key="userList.html"> userListController </prop>
		</props> </property> </bean> -->

	<!-- Spring拦截器(AOP) -->
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames" value="dataSource"/>
		<property name="interceptorNames">
			<list>
				<value>dataSourceAdvice</value>
			</list>
		</property>
	</bean>

	<!-- 数据源通知，主要为了设置AutoCommit为false -->
	<bean id="dataSourceAdvice" class="org.joy.core.persistence.support.DataSourceAdvice">
		<property name="autoCommit" value="${db.autoCommit}"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="txDefinition" class="org.springframework.transaction.support.DefaultTransactionDefinition">
		<property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"></property>
	</bean>
	
	<!-- 强制使用cglib代理 -->
<!-- 	<aop:aspectj-autoproxy proxy-target-class="true"/> -->
<!-- 	<aop:aspectj-autoproxy expose-proxy="true"/> -->
	<aop:config proxy-target-class="true" />

	<!-- <import resource="jpa.xml" /> -->

</beans>