*/.settings
*/.project
*/.classpath
*/.externalToolBuilders
*/.iml
*/.idea

/logs

/joy-commons/target
/joy-commons/logs

/joy-core/target
/joy-core/logs

/joy-plugins/target
/joy-plugins/logs

/joy-swing/target
/joy-swing/logs

/joy-tools/target
/joy-tools/logs

/joy-web/target
/joy-web/logs
/joy-web/src/main/webapp/WEB-INF/classes
/joy-web/src/main/webapp/WEB-INF/lib

*~
.project
.settings/
joy-commons/.factorypath
joy-commons/.gitignore
joy-core/.factorypath
joy-core/.gitignore
joy-plugins/.factorypath
joy-plugins/.gitignore
joy-web/.factorypath
joy-web/.gitignore
joy-web/src/main/webapp/static/3rd/assets/

