<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.joy.plugin.persistence.mybatis.UserInfo">
    <!--
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true"/>

	<resultMap id="BaseResultMap" type="org.joy.plugin.persistence.mybatis.UserInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id as id,
		name as name
	</sql>

	<sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
				<if test="id != null"> and id = #{id}</if>

				<if test="name != null">and name like CONCAT("%",#{name},"%")</if>
			</trim>
		</where>
		<if test="sorting != null">order by ${sorting}</if>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>

	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(id)
		from user_info
		<include refid="Base_Where_Clause" />
	</select>

	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from user_info
		<include refid="Base_Where_Clause" />
	</select>

	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_info
		where id = #{id}
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from user_info
		where id = #{id}
	</delete>

	<delete id="delete" parameterType="java.util.Map">
		delete from user_info
		<include refid="Base_Where_Clause" />
	</delete>

	<insert id="insert" parameterType="org.joy.plugin.persistence.mybatis.UserInfo">
		insert into user_info(
			id,
			name
		)
		values (
			#{id},
			#{name}
		)
	</insert>

	<update id="updateByIdSelective" parameterType="org.joy.plugin.persistence.mybatis.UserInfo">
		update user_info
		<set>
			<if test="name != null">name = #{name},</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateById" parameterType="org.joy.plugin.persistence.mybatis.UserInfo">
		update user_info
		set name = #{name}
		where id = #{id}
	</update>
	-->
	
</mapper>