@CHARSET "UTF-8";
.groupTree {
	background-image:url(../img/groupTree.gif)!Important;
}
.groupTab {
	background-image:url(../img/groupTab.gif)!Important;
}
.groupUserGridAdd {
	background-image:url(../../../../common/platform/img/add.png)!Important;
}
.groupUserGridDel {
	background-image:url(../../../../common/platform/img/delete.png)!Important;
}
.refreshGroupUserGrid{
	background-image:url(../../../../common/platform/img/table_refresh.png)!Important;
}