<div>
	<div data-dojo-type="joy/layout/JAccordionContainer"
		data-dojo-props='splitter:true, style:"width: 200px; height:100%"'>
		<div data-dojo-type="joy/layout/JContentPane"
			data-dojo-props='title:"Popups and Alerts"'></div>
		<div data-dojo-type="joy/layout/JContentPane"
			data-dojo-props='title:"Dojo Tree from Store"'></div>
		<div data-dojo-type="joy/layout/JContentPane"
			data-dojo-props='title:"Dojo Tree from Store"'></div>
		<div data-dojo-type="joy/layout/JContentPane"
			data-dojo-props='title:"Dojo Tree from Store"'></div>
	</div>
</div>